<mat-tab-group color="primary" #tabGroup>
    <mat-tab label="Employee">
      <!-- <app-mat-tab *ngIf="tabGroup.selectedIndex === 0"></app-mat-tab> -->
      <app-mat-tab ></app-mat-tab>
    </mat-tab>
    <mat-tab label="Department" #tabDepartment>
        Current Month : {{ 1 +   2 }}  -- {{ currentMonth }} -- {{ currentMonth2 }}
    </mat-tab>
    <mat-tab label="Attendance">
      <!-- <app-mat-tab *ngIf="tabGroup.selectedIndex === 2"></app-mat-tab> -->
      <app-mat-tab ></app-mat-tab>
    </mat-tab>
  </mat-tab-group>
  